.sidebar {
	position: relative;
	width: 200px;
	height: 90vh;
	display: flex;
	flex-direction: column;
	border-right: 2px solid var(--gray-color);
	overflow: hidden;
	transition: width 0.2s ease-in-out;
}

.sidebar.cropped {
	width: 60px;
}

/* Sidebar Header */
.sidebar-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.75rem 0.9rem;
}

.toggle-btn {
	font-size: 2rem;
	text-align: end;
	cursor: pointer;
	user-select: none;
}

/* Sidebar Content */
.sidebar-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Nav Links */
.sidebar-nav a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	padding: 0.75rem 1rem;
	transition: background-color 0.3s;
	text-wrap: nowrap;
}

.sidebar-nav a:hover {
	background-color: var(--gray-color);
}

.sidebar-nav i {
	font-size: 1.7rem;
	color: var(--gray-color);
}

.sidebar-nav a:hover i {
	color: #000;
}

/* Addons section */
.sidebar-adds {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

@media (max-width: 700px) {
	.sidebar-header {
		display: none;
	}

	.sidebar,
	.sidebar.cropped {
		width: 0;
	}

	.sidebar-content {
		width: 200px;
		height: 90vh;
		overflow: show;
		position: fixed;
		left: 0;
		z-index: 9999;
		background-color: #fff;
		border-right: 2px solid var(--gray-color);
		transition: left 0.2s ease-in-out;
	}

	.sidebar.cropped .sidebar-content {
		left: -200px;
	}
}
